<a href="https://colab.research.google.com/github/dnguyend/lagrange_rayleigh/blob/master/Eigen.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

$\newcommand{\bx}{\boldsymbol{x}}$
$\newcommand{\bz}{\boldsymbol{z}}$
$\newcommand{\bH}{\boldsymbol{H}}$
$\newcommand{\bF}{\boldsymbol{F}}$
$\newcommand{\bI}{\boldsymbol{I}}$
$\newcommand{\bJ}{\boldsymbol{J}}$
$\newcommand{\bC}{\boldsymbol{C}}$
$\newcommand{\bJC}{\boldsymbol{J}_{\boldsymbol{C}}}$
$\newcommand{\PiH}{\boldsymbol{\Pi}_{\bH}}$
$\newcommand{\cR}{\mathcal{R}}$
$\newcommand{\bJR}{\bJ_{\mathcal{R}}}$
#Eigenvector example
This notebook illustrates Rayleigh/ Rayleigh Chebyshev quotient for the eigenvector example.

While the problem is the same, solving for
$$A \bx =\lambda \bx$$
In this system $\bF(\bx) = A\bx$, $\bH(x)= \bx$. The constraint to impose is $\bz^T \bx = 1$.
This constraint has been used in the past, and allows us to examine two different choices of the left inverse:
* $\bH^-(\bx) = (\bx^T\bx)^{-1}\bx$.
* $\bH^-(\bx) = \bz^T$.

It is easy to see they are both left inverses.
The following table summarizes the formula used in Rayleigh and Rayleigh Chebyshev interations

$\bH^-$|$\PiH$ |$\lambda$|$\bJR\eta$|Param. of Tangent | Param of $Im(\PiH)$|$\lambda_*$|
----------------------|----------|----------|-------------|----------|----------|----------|
$(\bx^T\bx)^{-1}\bx$|$\bI -\bx\bx^T/(\bx^T\bx)$|$(\bx^T\bx)^{-1}\bx^T A\bx$|$(\bx^T\bx)^{-1}\bx^T (A+A^T)\eta-2(\bx^T\bx)^{-1}\lambda\bx^T\eta$|$Null(\bz^T)$|$Null(\bx^T)$|$(\bz^T\nu)/(\bz^T\eta)$|
$(\bz^T\bx)^{-1}\bz^T$|$\bI -\bx\bz^T$|$(\bz^T\bx)^{-1}\bz^TA\bx$|$\bz^TA\eta-\bz^T\lambda\eta$|$Null(\bz^T)$|$Null(\bz^T)$|$(\bz^T\nu)/(\bz^T\eta)$|

For each choice of left inverse, we consider both the tangent and the ambient (schur) method. We also consider both the Rayleigh and Rayleigh Chebyshev iterations. The following codes define the $4$ functions of the iterations, with a flag to indicate if we choose to to Chebyshev iteration. We need a cutoff level of when to let Chebyshev step kick in. We will import our github then start running:

In [1]:
!git clone https://github.com/dnguyend/lagrange_rayleigh.git

Cloning into 'lagrange_rayleigh'...
remote: Enumerating objects: 224, done.
remote: Counting objects: 100% (224/224), done.
remote: Compressing objects: 100% (157/157), done.
remote: Total 224 (delta 116), reused 144 (delta 61), pack-reused 0
Receiving objects: 100% (224/224), 14.72 MiB | 6.69 MiB/s, done.
Resolving deltas: 100% (116/116), done.

In [0]:
import numpy as np
from scipy.linalg import null_space
from numpy.linalg import solve, norm

def linear_rqi_xTx(x0, A, z, do_cheb=False,
                   max_iter=200, max_err=1e-8, cutoff=3e-1):
    """in this version use (x.Tx) for left inverse
    """
    x = x0.copy()
    k = A.shape[0]
    for i in range(max_iter):
        xTx = x.T @ x
        Ax = A @ x
        xTAx = x.T @ Ax
        lbd = xTAx / xTx
        zeta = solve(A - lbd * np.eye(k), x)
        err = norm(A @ x - lbd * x)
        # if err < max_err or (norm(zeta) * max_err > 10):
        if err < max_err:
            if err < max_err:
                return x, lbd, i, err, True
            else:
                return x, lbd, i, err, False

        nu = x + lbd * zeta
        lbd_s = (z.T @ nu) / (z.T @ zeta)
        eta = -nu + zeta * lbd_s

        if do_cheb and (norm(eta) < cutoff):
            J_R = -2*lbd/xTx*x@eta+x.T@(A.T+A)@eta/(xTx)
            T = solve(A - lbd * np.eye(k), eta * J_R)
            tau = T + eta - zeta / (z @ zeta) * (z @ (T+eta))
            x_n = (x + tau) / (z.T @ (x + tau))
        else:
            x_n = zeta / (z.T @ zeta)
        R = norm(x_n - x)
        x = x_n
        if R < max_err:
            break

    return x, lbd, i, err, err < max_err


def linear_rqi_zTx(x0, A, z, do_cheb=False,
                   max_iter=200, max_err=1e-8, cutoff=3e-1):
    """in this version use (z.Tx) for left inverse
    """
    x = x0.copy()
    k = A.shape[0]
    tau = None
    R = 1
    for i in range(max_iter):
        zTx = z.T @ x
        Ax = A @ x
        zTAx = z.T @ Ax
        lbd = zTAx / zTx
        zeta = solve(A - lbd * np.eye(k), x)
        err = norm(A @ x - lbd * x)
        # if err < max_err or (norm(zeta) * max_err > 10):
        if err < max_err:
            if err < max_err:
                return x, lbd, i, err, True
            else:
                return x, lbd, i, err, False
        nu = x + lbd * zeta
        lbd_s = (z.T @ nu) / (z.T @ zeta)
        eta = -nu + zeta * lbd_s

        if do_cheb and (norm(eta) < cutoff):
            J_R = -lbd*z.T@eta+z.T@A@eta
            T1 = solve(A - lbd * np.eye(k), eta * J_R)
            tau = T1 + eta - zeta / (z @ zeta) * (z @ (T1+eta))
            x_n = (x + tau) / (z.T @ (x+tau))
        else:
            x_n = zeta / (z.T @ zeta)
        R = norm(x-x_n)
        """
        print('i=%d tau=%s x=%s R=%f lbd=%f' % (
            i, str(tau), str(x), R, lbd))
        """
        x = x_n

        if R < max_err:
            break

        # if err < max_err:
        #    break
    return x, lbd, i, err, err < max_err


def linear_rqi_zTx_tangent(x0, A, z, do_cheb=False,
                           max_iter=200, max_err=1e-8, cutoff=3e-1):
    """in this version use (z.Tx) for left inverse
    z.T x = 1 is used for the constraint
    """
    # from scipy.linalg import null_space
    # Y = null_space(z)
    k = A.shape[0]
    Z = np.eye(k)
    # the Chebysev step:
    z = Z[:, 0]
    Y = Z[:, 1:]
    v = np.zeros((k-1))
    # y = Y u
    x_v = x0 / (z @ x0)
    success = False
    zTAY = z.T @ A @ Y
    tau = v
    err = 1
    for i in range(max_iter):
        x_v = x_v + Y @ tau
        p1 = np.eye(k) - x_v.reshape(-1, 1) @ z.reshape(1, -1)
        Y_p1 = Y.T @ p1
        lbd = z.T @ A @ x_v
        Rmd = (A @ x_v - lbd * x_v)
        err = norm(Rmd)
        if err <= max_err:
            success = True
            break
        pj_L = Y_p1 @ Rmd
        pj_Lx = Y_p1 @ (A - lbd * np.eye(k)) @ Y
        v = solve(pj_Lx, - pj_L)
        if do_cheb and (norm(v) < cutoff):
            J_R = zTAY @ v-((z.T @ Y) @ v) * lbd
            tau = v + solve(pj_Lx, Y_p1 @ Y @ v * J_R)
        else:
            tau = v
        
    if not success:
        x_v = x_v + Y @ v
        # p1 = np.eye(k) - x_v.reshape(-1, 1) @ z.reshape(1, -1)
        # Y_p1 = Y.T @ p1
        lbd = z.T @ A @ x_v
        Rmd = (A @ x_v - lbd * x_v)
        err = norm(Rmd)
        if err <= max_err:
            success = True
    # x, lbd, n_iter, err, converge
    return x_v, lbd, i, err, success


def linear_rqi_xTx_tangent(x0, A, z, do_cheb=False,
                           max_iter=200, max_err=1e-8, cutoff=3e-1):
    """(x.T x)^{-1} x.T is used for the left inverse
    z.T x = 1 is used for the constraint
    pH = I_k - (x x.T) / (x.T @ x)
    pH @ x_v = 0
    so a basis for pH is (null x_v.T).T
    """
    k = A.shape[0]
    Z = np.eye(k)
    # the Chebysev step:
    z = Z[:, 0]
    Y = Z[:, 1:]
    v = np.zeros((k-1))
    # y = Y u
    symAY = (A.T+A) @ Y
    x_v = x0 / (z @ x0)
    success = False
    tau = v
    err = 1
    for i in range(max_iter):
        x_v = x_v + Y @ tau
        xTx = x_v @ x_v
        pH = np.eye(k) - x_v.reshape(-1, 1) @ x_v.reshape(1, -1) / xTx
        YH = null_space(x_v.reshape(1, -1))
        Y_pH = YH.T @ pH
        lbd = (x_v.T @ A @ x_v) / xTx
        Rmd = (A @ x_v - lbd * x_v)
        err = norm(Rmd)
        if err <= max_err:
            success = True
            break
        pj_L = Y_pH @ Rmd
        pj_Lx = Y_pH @ (A - lbd * np.eye(k)) @ Y
        v = solve(pj_Lx, - pj_L)
        if do_cheb and (norm(v) < cutoff):
            J_R = -2*lbd/xTx*x_v@(Y@v)+x_v.T@symAY@v/(xTx)
            tau = v + solve(pj_Lx, Y_pH @ Y @ v * J_R)
        else:
            tau = v
        
    if not success:
        x_v = x_v + Y @ v
        # p1 = np.eye(k) - x_v.reshape(-1, 1) @ z.reshape(1, -1)
        # Y_p1 = Y.T @ p1
        xTx = x_v @ x_v
        lbd = x_v.T @ A @ x_v / xTx
        Rmd = (A @ x_v - lbd * x_v)
        err = norm(Rmd)
        if err <= max_err:
            success = True
    # x, lbd, n_iter, err, converge
    return x_v, lbd, i, err, success

The next function will run the test comparing all $8$ methods:

In [0]:
import pandas as pd
from IPython.core.display import HTML, display
from lagrange_rayleigh.core import utils
import time

def print_if_debug(E, debug):
  if debug:
    print(E)

def test_linear(k=50, n_test=500, debug=False):
    tbl2 = np.full((n_test, 32), np.nan)
    z = np.array([1] + (k-1)*[0])
    max_iter = 200
    max_err = 1e-10
    for i in range(n_test):
        A = utils.gen_random_real_eigen(k)
        x0 = np.random.randint(-5, 5, k) / 10.
        x0 = x0 / np.linalg.norm(x0)
        try:
            t_start = time.time()
            x, lbd, n_iter, err, converge = linear_rqi_xTx_tangent(
                x0, A, z, do_cheb=False, max_iter=max_iter,
                max_err=max_err, cutoff=3e-1)
            t_end = time.time()
            tbl2[i, 0] = n_iter
            tbl2[i, 1] = lbd
            tbl2[i, 2] = err
            tbl2[i, 3] = t_end - t_start
        except Exception as E:
            print_if_debug(E, debug)
        try:
            t_start = time.time()
            x, lbd, n_iter, err, converge = linear_rqi_xTx_tangent(
                x0, A, z, do_cheb=True, max_iter=max_iter,
                max_err=max_err, cutoff=10.e-1)
            t_end = time.time()
            tbl2[i, 4] = n_iter
            tbl2[i, 5] = lbd
            tbl2[i, 6] = err
            tbl2[i, 7] = t_end - t_start
        except Exception as E:
            print_if_debug(E, debug)
        try:
            t_start = time.time()
            x, lbd, n_iter, err, converge = linear_rqi_xTx(
                x0, A, z, do_cheb=False, max_iter=max_iter,
                max_err=max_err, cutoff=3e-1)
            t_end = time.time()
            tbl2[i, 8] = n_iter
            tbl2[i, 9] = lbd
            tbl2[i, 10] = err
            tbl2[i, 11] = t_end - t_start
        except Exception as E:
            print_if_debug(E, debug)
        try:
            t_start = time.time()
            x, lbd, n_iter, err, converge = linear_rqi_xTx(
                x0, A, z, do_cheb=True, max_iter=max_iter,
                max_err=max_err, cutoff=10.e-1)
            t_end = time.time()
            tbl2[i, 12] = n_iter
            tbl2[i, 13] = lbd
            tbl2[i, 14] = err
            tbl2[i, 15] = t_end - t_start
        except Exception as E:
            print_if_debug(E, debug)

        # zTx
        try:
            t_start = time.time()
            x, lbd, n_iter, err, converge = linear_rqi_zTx_tangent(
                x0, A, z, do_cheb=False, max_iter=max_iter,
                max_err=max_err, cutoff=3e-1)
            t_end = time.time()
            tbl2[i, 16] = n_iter
            tbl2[i, 17] = lbd
            tbl2[i, 18] = err
            tbl2[i, 19] = t_end - t_start
        except Exception as E:
            print_if_debug(E, debug)
        try:
            t_start = time.time()
            x, lbd, n_iter, err, converge = linear_rqi_zTx_tangent(
                x0, A, z, do_cheb=True, max_iter=max_iter,
                max_err=max_err, cutoff=5.e-1)
            t_end = time.time()
            tbl2[i, 20] = n_iter
            tbl2[i, 21] = lbd
            tbl2[i, 22] = err
            tbl2[i, 23] = t_end - t_start
        except Exception as E:
            print_if_debug(E, debug)
        try:
            t_start = time.time()
            x, lbd, n_iter, err, converge = linear_rqi_zTx(
                x0, A, z, do_cheb=False, max_iter=max_iter,
                max_err=max_err, cutoff=3e-1)
            t_end = time.time()
            tbl2[i, 24] = n_iter
            tbl2[i, 25] = lbd
            tbl2[i, 26] = err
            tbl2[i, 27] = t_end - t_start
        except Exception as E:
            print_if_debug(E, debug)
        try:
            t_start = time.time()
            x, lbd, n_iter, err, converge = linear_rqi_zTx(
                x0, A, z, do_cheb=True, max_iter=max_iter,
                max_err=max_err, cutoff=10.e-1)
            t_end = time.time()
            tbl2[i, 28] = n_iter
            tbl2[i, 29] = lbd
            tbl2[i, 30] = err
            tbl2[i, 31] = t_end - t_start
        except Exception as E:
            print_if_debug(E, debug)
        
    tbl3 = tbl2.copy()
    tbl3[np.where(~(tbl2[:, 2] < .05))[0], :4] = np.nan
    tbl3[np.where(~(tbl2[:, 6] < .05))[0], 4:8] = np.nan
    tbl3[np.where(~(tbl2[:, 10] < .05))[0], 8:12] = np.nan
    tbl3[np.where(~(tbl2[:, 14] < .05))[0], 12:16] = np.nan

    tbl3[np.where(~(tbl2[:, 18] < .05))[0], 16:20] = np.nan
    tbl3[np.where(~(tbl2[:, 22] < .05))[0], 20:24] = np.nan
    tbl3[np.where(~(tbl2[:, 26] < .05))[0], 24:28] = np.nan
    tbl3[np.where(~(tbl2[:, 30] < .05))[0], 28:32] = np.nan
    # print(np.nanmean(tbl3, axis=0))

    column0 = ['%s_iter %s_lbd %s_err %s_time' % (
        a, a, a, a) for a in [
            'xtx_tgt', 'xtx_chev_tgt', 'xtx_amb', 'xtx_chev_amb',
            'ztx_tgt', 'ztx_chev_tgt', 'ztx_amb', 'ztx_chev_amb',
        ]]
    columns = np.squeeze([a.split() for a in column0]).reshape(-1)
    pDF = pd.DataFrame(tbl3, columns=columns)
    for tag in ['iter', 'time', 'lbd', 'err' ]:
        display(HTML(pDF[[a for a in pDF.columns if a.endswith(tag)]].describe().to_html()))
    return pDF

A small test:

In [23]:
p1 = test_linear(k=5, n_test=100)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:158: RuntimeWarning: divide by zero encountered in true_divide
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:158: RuntimeWarning: invalid value encountered in true_divide
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:33: RuntimeWarning: divide by zero encountered in true_divide
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:33: RuntimeWarning: invalid value encountered in true_divide
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:13: RuntimeWarning: invalid value encountered in matmul
  del sys.path[0]
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:17: RuntimeWarning: invalid value encountered in matmul
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:105: RuntimeWarning: divide by zero encountered in true_divide
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:105: RuntimeWarning: invalid value encountered in true_divide
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:112: RuntimeWarning: invalid value encountered in matmul
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:115: RuntimeWarning: invalid value encountered in matmul
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:56: RuntimeWarning: divide by zero encountered in double_scalars
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:57: RuntimeWarning: invalid value encountered in multiply
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:58: RuntimeWarning: invalid value encountered in multiply

A bigger one:

In [24]:
test_linear(k=50, n_test=500)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:158: RuntimeWarning: divide by zero encountered in true_divide
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:158: RuntimeWarning: invalid value encountered in true_divide
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:105: RuntimeWarning: divide by zero encountered in true_divide
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:105: RuntimeWarning: invalid value encountered in true_divide
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:112: RuntimeWarning: invalid value encountered in matmul
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:113: RuntimeWarning: invalid value encountered in matmul
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:114: RuntimeWarning: invalid value encountered in matmul
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:115: RuntimeWarning: invalid value encountered in matmul
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:56: RuntimeWarning: divide by zero encountered in double_scalars
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:57: RuntimeWarning: invalid value encountered in multiply
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:58: RuntimeWarning: invalid value encountered in multiply
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:33: RuntimeWarning: divide by zero encountered in true_divide
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:33: RuntimeWarning: invalid value encountered in true_divide
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:13: RuntimeWarning: invalid value encountered in matmul
  del sys.path[0]
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:17: RuntimeWarning: invalid value encountered in matmul

     xtx_tgt_iter  xtx_tgt_lbd  ...  ztx_chev_amb_err  ztx_chev_amb_time
0             6.0          4.0  ...      1.973939e-08           0.001953
1             4.0         -2.0  ...      2.678733e-11           0.003483
2             6.0         -8.0  ...      8.976397e-11           0.009957
3             5.0         -4.0  ...      2.693842e-11           0.009154
4             5.0          2.0  ...      6.732191e-11           0.003036
..            ...          ...  ...               ...                ...
495          10.0        -10.0  ...      3.349935e-11           0.006188
496           5.0         -1.0  ...      2.387353e-07           0.049449
497           7.0          9.0  ...      1.806597e-12           0.019068
498           7.0        -10.0  ...      5.185447e-11           0.003886
499           5.0         -4.0  ...      2.076507e-11           0.033334

[500 rows x 32 columns]

In [25]:
print("A BIG ONE")
test_linear(k=100, n_test=500)

A BIG ONE

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:158: RuntimeWarning: divide by zero encountered in true_divide
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:158: RuntimeWarning: invalid value encountered in true_divide
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:33: RuntimeWarning: divide by zero encountered in true_divide
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:33: RuntimeWarning: invalid value encountered in true_divide
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:13: RuntimeWarning: invalid value encountered in matmul
  del sys.path[0]
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:17: RuntimeWarning: invalid value encountered in matmul
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:105: RuntimeWarning: divide by zero encountered in true_divide
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:105: RuntimeWarning: invalid value encountered in true_divide
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:112: RuntimeWarning: invalid value encountered in matmul
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:113: RuntimeWarning: invalid value encountered in matmul
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:114: RuntimeWarning: invalid value encountered in matmul
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:115: RuntimeWarning: invalid value encountered in matmul
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:56: RuntimeWarning: divide by zero encountered in double_scalars
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:57: RuntimeWarning: invalid value encountered in multiply
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:58: RuntimeWarning: invalid value encountered in multiply

     xtx_tgt_iter  xtx_tgt_lbd  ...  ztx_chev_amb_err  ztx_chev_amb_time
0             6.0          4.0  ...      1.129467e-11           0.049622
1             6.0          2.0  ...      1.562703e-11           0.043359
2             5.0         -8.0  ...      3.474558e-11           0.069998
3             5.0          1.0  ...      9.408015e-12           0.063678
4             6.0        -10.0  ...      3.244305e-11           0.048001
..            ...          ...  ...               ...                ...
495           7.0          9.0  ...      2.028548e-11           0.016738
496           6.0          9.0  ...      3.440580e-11           0.077929
497           6.0          5.0  ...      1.227900e-12           0.023765
498           5.0          4.0  ...      4.045243e-11           0.060203
499           6.0         -7.0  ...      4.583089e-11           0.015438

[500 rows x 32 columns]

In [0]:
p100 = test_linear(k=100, n_test=500)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:158: RuntimeWarning: divide by zero encountered in true_divide
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:158: RuntimeWarning: invalid value encountered in true_divide
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:33: RuntimeWarning: divide by zero encountered in true_divide
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:33: RuntimeWarning: invalid value encountered in true_divide
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:13: RuntimeWarning: invalid value encountered in matmul
  del sys.path[0]
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:17: RuntimeWarning: invalid value encountered in matmul
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:105: RuntimeWarning: divide by zero encountered in true_divide
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:105: RuntimeWarning: invalid value encountered in true_divide
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:112: RuntimeWarning: invalid value encountered in matmul
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:113: RuntimeWarning: invalid value encountered in matmul
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:114: RuntimeWarning: invalid value encountered in matmul
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:115: RuntimeWarning: invalid value encountered in matmul
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:56: RuntimeWarning: divide by zero encountered in double_scalars
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:57: RuntimeWarning: invalid value encountered in multiply
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:58: RuntimeWarning: invalid value encountered in multiply

In [0]:
p100.iloc[np.where(p100.xtx_amb_iter == 199)[0], :]

     xtx_tgt_iter  xtx_tgt_lbd  ...  ztx_chev_amb_err  ztx_chev_amb_time
353           NaN          NaN  ...          0.000054            0.07748

[1 rows x 32 columns]